body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.middle-info{
    padding: 20px 0px 20px 20px;
    margin-bottom: 0;
    font-size: 14px;
}

.input-style{
   padding: 10px;
   margin-top: 10px;
}

.body-style{
    padding: 0 auto;
    padding: 50px;
    max-width: 100%;
    width: 50%;
}

.temp{
    position: relative;
    bottom:  30px;
    left: 6px;
    display: inline-block;
}

.text-stye{
    font-weight: 500;
    color: gray;
    margin-top: 50px;
    margin-bottom: 30px;
}

.status-weather{
text-transform: capitalize;
}

.temp .active{
    color: black;
    cursor: default;
}

.temp .active:hover{
    text-decoration: none;
}


a{
    text-decoration: none;
}

.weaher-forecast{
    margin-top: 20px;
    text-align: center;
    color: black;
}


.forcast-date{
    font-size: 18px;
    opacity: 0.5;
}

.forcast-temp{
    font-size: 13px;
}
.temp-min{
     margin-left: 18px;
     opacity: 0.5;
}

#icon{
   height: 120px;
   margin-top: -30px;
}

#weather-info{
    margin-top: 15px;
    font-size:12px;
}

.col-1{
    margin-right: 20px ;
    margin-left: auto;
}

.col-9{
    margin-left: auto;
}

.linked-cities{
    margin-left: 40px;
}

#search{
    font-size: 20px;
    margin-left: 60px;
}


.temp{
    margin-top: 13px;
    margin-left: 20px;
}

.weather-des{
    margin-right: 20px;
    margin-left: 30px ;
}

#forcast-icon{
     height: 90px;
}